*{
    padding:0;
    margin:0;
    box-sizing:border-box;;
}

body{
    background-color: whitesmoke;
}

.navs,.footer{
    background-color:rgb(39, 140, 248);
    width:100%;
}

.navs{
    height:80px;
    line-height:80px;
    padding:0px 5%;
    font-size:20px;
}

.navs .menus,.navs .logo{
    float:left;
}

.navs .logo{
    width:120px;
}

.navs .menus{
    width:70%;
    height:100%;
    margin-left:30px;
}

a{
    height:100%;
    text-align: center;
    text-decoration: none;
    color:#fff;
}

.navs .menus a{
    width:calc(100%/6.4);
    display:inline-block;

}

.navs .logins{
    width:8%;
    float:right;
}

.navs .logins a{
    width:calc(100%/2.2);
    display:inline-block;
}

.mains{
    width:100%;
    height:100%;
    padding:20px;
}

img{
    object-fit: cover;/*让图片伸展开来，不会错乱*/
}

.banner{
    width:100%;
    height:90vh;
}

.footer p1{
    height:50px;
    line-height:10px;
    font-size: 20px;
    color:white;
    display:flex;
    align-items: center;
    justify-content: center;
}

.footer p2{
    color:white;
    display:flex;
    align-items:center;
    justify-content:flex-end;
    padding:10px;
    margin-right: 10px;
}
